

/*
 * global CSS
 *
 */

/* ==========================================================================
   Base styles
   ========================================================================== */
html {
	color:$textColor;
	font-family: $baseFontFamily;
	background-color: $bodyBackground;
	/*font-size: 1em; */
	font-size: 100%; /* Global base font-size default */
	line-height: $baseLineHeight;
}
body {
    font-size: 1em;
	// background: $grayEE;
	// height: 800px;
	// @include horizontal-gradient(#eee, 10%, #222, 100%);
	//@include linear-gradient-tri(#eee, 10%, #2f5, 35%, #222, 80%);
}

.inner{
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

/*ie8 with box sizing, max-width and padding messes up the total witdh */



/* ==========================================================================
   Header
   ========================================================================== */
body > header{
	/*background: @white;*/
}
header{

}
/**** fixes issue with max-width and box-sizing on IE*****/




/* ==========================================================================
   Site Content wrapper
   ========================================================================== */

main{

}

.content{

}



/* ==========================================================================
   Footer
   ========================================================================== */

footer{

}

